/* Recipe.css */

.recipes-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: var(--background-light);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipes-container ul, .recipes-container ol {
  padding-left: 20px;
  list-style: none;
}

.recipes-container ul li, .recipes-container ol li {
  background-color: var(--background-light);
  border-left: 3px solid var(--primary-accent);
  border-bottom: 1px solid var(--primary-accent);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 10px 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.recipes-container ul li:hover, .recipes-container ol li:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.recipes-container ul li h2, .recipes-container ol li h2 {
  color: var(--primary-text);
}
